type sysfs_battery, sysfs_type, fs_type;
type sysfs_camera_writable, sysfs_type, fs_type;
type sysfs_sec, sysfs_type, fs_type;
type sysfs_ss_writable, sysfs_type, fs_type;
type vendor_sysfs_battery_supply, sysfs_type, fs_type;
type vendor_sysfs_devfreq, sysfs_type, fs_type;
type vendor_sysfs_kgsl, sysfs_type, fs_type;
type vendor_thermal-engine, sysfs_type, fs_type;
